@model Ekart_mvc.Models.order.Record

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/Admin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Record</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurrentQuantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentQuantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductList.ProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductList.ProductName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
