@model IEnumerable<Ekart_mvc.Models.order.OrderList>

@{
    ViewBag.Title = "Summary";
    Layout = "~/Views/Shared/Bask.cshtml";
}

<h2>Order Items</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr>
        <th>
            Product Name
        </th>
        <th>
            Price Pre Unit
        </th>
        <th>
           Unit
        </th>
        <th>
            Quantity
        </th>
        <th>
            Total
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Basket.BasketItems.Select(a => a.ProductList.ProductName))
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Price)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Basket.BasketItems.Select(a => a.ProductList.Unit))
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Quantity)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.Price * item.Quantity)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
    </td>
</tr>
}

</table>
