@model Ekart_mvc.Models.order.ProductList

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/Prod.cshtml";
    var movie = Session["userName"];
    if (movie != null)
    {

        <h3>Hello,</h3>
        <br />
        <h3>
            @Html.DisplayFor(modelItem => movie)
        </h3>

    }
    else
    {
        <script>alert("You are not login Please Login Firsr"); window.location.replace('Logout')</script>
    }
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ProductList</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalQun)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalQun)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurrentQun)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentQun)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Image)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CategoryList.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryList.CategoryName)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
